// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.crawl {
  margin-top:50px;
}
.offer {
  word-wrap: break-word;
}
.crawl-button {
  text-align: right;
}
.get_deal {
  text-align: right;
}

